.tour{
   
    width: 100vw;
    background-position: center;
    background-size: cover;
}
.tour-hawaii {
    background-image: url(../assets/images/hawaii.jpg);
}
.tour-iceland{
    background-image: url(../assets/images/iceland.jpg);
}
.tour-greece{
    background-image: url(../assets/images/greece.jpg);
}
.tour-container {
    display: flex;
    width: 80%;
    height: max-content;
    flex-direction: column;
}
.tour-container__title{
    font-size: 7em;
    
    color: var(--color-primary);
}
.tour-container__cards{
    display: flex;
    margin: 0 auto;
    width: 85%;
    justify-content: space-between;
}

.tour-container__cards--card {
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    width:27em;
    height: max-content;
    
}

.tour-container__cards--card-title{
    font-size: 2em;
    color: black;
    text-align: center;
    margin: 1em auto;
    border-bottom: 3px solid black;
    width: 90%;
    flex: 1;
}
.tour-container__cards--card-list > li {
    font-size: 1.7em;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    background: var(--color-secondary);
    flex: 1;
}
