.tour{
   
    width: 100vw;
    background-position: center;
    background-size: cover;
}
.tour-hawaii {
    background-image: url(../assets/images/hawaii.jpg);
}
.tour-iceland{
    background-image: url(../assets/images/iceland.jpg);
}
.tour-greece{
    background-image: url(../assets/images/greece.jpg);
}
.tour-container {
    display: flex;
    width: 80%;
    height: max-content;
    flex-direction: column;
}
.tour-container__title{
    font-size: 4.125rem;
    
    color: var(--color-primary);
}
.tour-container__cards{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.tour-container__cards--card {
    padding: .625rem 0;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    min-width: 17.5rem;
    
}

.tour-container__cards--card-title{
    font-size: 1.25rem;
    color: black;
    text-align: center;
    
    margin: .625rem auto;
    border-bottom: 3px solid black;
    width: 90%;
    flex: 1;
}

.tour-container__cards--card-list{
    padding-bottom: 1.25rem;
}
.tour-container__cards--card-list > li {
    padding: 0.9375rem 0;
    text-decoration: none;
    font-size: 1.0625rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 1rem;
    background: var(--color-secondary);
    flex: 1;
}
