:root {
    --color-primary:#FFFFFF; 
    --color-secondary: #FEFAF5;
    --color-tertiary: #335576;
    --color-fourth: #DB7A4E;
    --color-fifth: 

 }

*, html {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
/* body{
/*10px*/
main {
    margin: 0 auto;
    width: 100vw;
}
h1, h2 {
    color: var(--color-tertiary);
}
h3 {
    color: var(--color-fourth);
    font-size: .625rem;
    font-weight: 300;
}
header{
    display: flex;
    justify-content: center;
}
/* h2 {
    font-size: 2.5rem;
} */
.btn {
    border: none;
    width: 12em;
    font-size: .9375rem;
    text-align: center;
    padding: .625rem 2.5rem;
    background: var(--color-fourth);
    color: var(--color-primary);
    border-radius: 100px;
}
.container {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    padding: 3.75rem 0;
}
.card{
    border-radius: 5px;
    
}

.cards__card {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    text-decoration: none;
    margin: 2.5rem 1.25rem;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    position: relative;
    overflow: hidden;
    transition: all .3s cubic-bezier(.45,.11,.38,.99);
}
.cards__card:hover{
    transform: scale(1.02);
}
