.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    background: var(--color-primary);
    padding: .625rem 1.25rem;
    width: 85%;
    align-items: center;
    position: sticky;
    top: 0;
    
}
.nav-bar__title{
    text-decoration: none;
    font-size: 1.25rem;
    margin-right: 1.25rem;
    font-weight: 700;
    color: var(--color-tertiary);
}
.nav-bar__menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    display: flex;
    flex: 0 1 27%;
}
.nav-bar__menu--item{
    display: inline-block;
    font-size: .9375rem;
    text-decoration: none;
    color: black ;
   margin-right: 1.25rem;
    padding: .625rem 0;

    transition: all .2s; 
}
.nav-bar__menu--item:hover{
    border-bottom: 3px solid var(--color-fourth);
}

.active {
    border-bottom: 3px solid var(--color-fourth);

}

/* HERO SECTION STYLING */

.hero{
    width: 100%;
    background: var(--color-secondary);
    
    
}
.hero-container{
    padding: 3.75rem 0;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
}
.hero__content{
    display: flex;
    flex-direction: column;
    width: 60%;
color: var(--color-tertiary);

}
.hero__content--title {
    font-size: 2.3rem;
    width: 90%;
    margin-bottom: 2rem;
}
.hero__content--text {
    font-size: .9375rem;
    width: 100%;
    margin-bottom: 2rem;
}
.hero__img{
width: 40%;

}

.hero__content--btn{
    margin: .625rem 0; 
}

/* RECOMMENDATION SECTION */

.rec-container__title{
    font-size: 1.5625rem;
    color: var(--color-tertiary);
}
.rec-container__cards{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}

.cards__card--img {
    max-width: 17.5rem;
    z-index: -10;
}
.cards__card--text {
  
position: absolute;
    width: 100%;
    color: var(--color-primary);
    z-index: 10;
    text-align: right;
    font-size: 1.5625rem;
    padding: 1.25rem;
    bottom: 0;
}



/* FOOTER SECTION */

footer{
    background: var(--color-secondary);
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
}
.footer__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .625rem;
}

.footer__item--text{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
margin-right: 1.25rem;
margin-top: .625rem;
}

.footer__item--text--container{
    display: flex;
    margin-top: 1.25rem;
    flex-direction: column;
    margin-right: 1.25rem;
}

.footer__item--text--1{
    font-size: .6875rem;
}
.footer__item--text--2 {
    color: var(--color-tertiary);
    font-size: .9375rem;
    font-weight: 200;
    margin-top: .625rem;
    text-decoration: none;
}

.footer__item--icon {
    margin-top: 1.25rem;
}

.footer__item--icon > a {
    text-decoration: none;
}
.footer__item--icon > a img{
    height: 1.875rem;
    margin-right: 1.875rem;
   
}


